:root {
    --color-violet-bg: #F6EFE8;
    --color-headings: #000;
    --color-btn: #611f69;
    --color-link: #1264a3;
    --color-card-slide: #fff;
    --color-p-card-slide: #454245;
    --color-purple-bg: #4a154b;
    --color-border: #ebeaeb
}
